body {
    margin : 0;
    padding : 0;
}
::-webkit-scrollbar {
    display : none;
}
.bg {
    user-select : none;
    width : 100vw;
    height : auto;
}
h1 {
    width : 100%;
    text-align: center;
    position : absolute;
    color : white;
}